body {
    background-color: lightgray;
}

header {
    background-color: lightblue;
    height: 100px;
    text-indent: 10%;
    padding: 2%;
}

li {
    height: 40px;
}

h3 {
    height: 80%;
}

#caring {
    display: none;
}

#exp {
    display: none;
}

#here {
    display: none;
}

#search {
    background-color: lightblue;
    height: 70px;
    color: blue;
    padding: 1%;
    text-align: center;
    margin-top: 100px;
}

.button {
    background-color: black;
}
